/*=========Time clock modal ========*/
.time-clock-modal{
  &.custom-form-modal{
    .modal-body{
      padding: 40px 50px 25px 40px;
    }    
    .form-group{
      .form-select > div{
        min-height: 30px;
      }
      .css-vj8t7z{
        min-height: 30px;
      }
      label{
        min-width: 60px;
      }
    }
  } 
}
body {
  table.time-log-table tr td{
    font-family: "FrutigerNeueLTPro-Regular";
  }
  .timeclock-container {
     margin: 20px 0;
    .timeclock-row {
      padding: 10px;
      background: #f9f9f9;
      border-radius: 2px;
      border: 1px solid #c0c0c0;
      margin: 10px 0;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      .btn{
        padding: 4px 10px;
        font-weight: 600;
        min-width: 85px;
      }
    }
    .work-in-progress {
      border: 2px solid #4f9e7d;
    }
    .switch-select-box {
      width: 80%;
      float: left;
    }
    .timer-running-manually{
      font-size: 20px;
      color: #6b6b6b;
    }
  }
  
  .form-select{
    .css-bl6clz{
      display: none;
    }
    .css-1ep9fjw{
      padding: 4px 8px;
    }
    .css-xp4uvy{
      top: 46%;
    }
   
  }
  .form-select.is-invalid > div{
    padding-right: 0px;
  }
  .DateInput_input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0c0d1c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a6a7a7;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .SingleDatePicker{
    width:100%;
    .SingleDatePickerInput__withBorder{
      width: 100%;
      border: 0px;
      .DateInput{
        width: 100%;
      }
    }
    .DateInput_fang {
      position: absolute;
      width: 20px;
      height: 10px;
      left: 22px;
      z-index: 2;
      top: 32px !important;
    }
  }
  .SingleDatePicker_picker__directionLeft {
    left: auto !important;
    top: 42px !important;
    right: 0;
  }
}